#home div.info {
    width: 33%;
}

#home div.about {
    width: 66%;
}
#home div.about__favs {
    display: flex;
}

#home div.about__fav_item {
    width: 49.5%;
}

#home {
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: initial;
}

#home .about__main {
    line-height: 27px;
}

.fs-7 {
    font-size: 0.75rem;
}

.fs-8 {
    font-size: 0.5rem;
}

#home .name {
    font-size: 1.18em;
}

#home .name_desc {
    font-size: .83em;
}

.experience #separator{
    width: 50px;
}

div#separator {
    color: white;
    padding-top: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    height: auto;
}

#separator div {
    color: white;
    border-color: white;
    border: 1px solid white;
}

.anim_hid {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.anim_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (max-width: 1200px) {
    #home .info {
        width: 95% !important;
        flex-wrap: wrap;
    }
    div#home {
        display: block;
    }
}