.outerContainer {
    width: 100%;
    position: fixed;
    user-select: none;
    background-color: #000000;
    color: #fff8f8;
    padding: 1rem 0;
}

.headerContainer {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}

.headerItem {
    flex-basis: 33%;
    text-align: center;
    cursor: pointer;
}

.menu {
    text-align: center;
    width: 100vw;
    position: absolute;
    background-color: #000000;
    color: #fff8f8;
    top: 60px;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menuItem {
    width: 30%;
    padding: 0.2rem 0;
}

.menuItem:hover {
    color: #000000;
    background-color: #fff8f8;
}

.show {
    display: none;
}

@media (max-width: 1000px) {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .menuItem {
        width: 100% !important;
    }
}