.App {
  text-align: center;
  height: 100%;
}

html,
body,
#root {
  height: 100%;
  animation: backgroundAnimation 20s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #bad8e5;
  }
  50% {
    background-color: #cfe5ba;
  }
  100% {
    background-color: #bad8e5;
  }
}

* {
  font-family: 'mcoloniab', monospace;
}